<launch>
    <include file="$(find rotors_gazebo)/launch/mav_hovering_example.launch"/>
    <include file="$(find rotors_gazebo)/launch/1_hector.launch" />
    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find rotors_gazebo)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rotors_gazebo)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rotors_gazebo)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rotors_gazebo)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rotors_gazebo)/param/base_local_planner_params.yaml" command="load" />
    </node>
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rotors_gazebo)/configs/move_base.rviz"/>
</launch>